/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/UserSettings/
/Assets/RPGHero/
/Assets/ModularRPGHeroesPolyArt/
/Assets/Magic Weapon Icons/
/Assets/_Heathen Engineering/
/Assets/Pup Up Productions/
/Assets/Polytope Studio/
/Assets/_TerrainAutoUpgrade/
/Assets/Cartoon_Texture_Pack/
/Assets/Fantasy Forest Environment Free Sample/
/Assets/POLY STYLE - Vegetation Pack 2/
/Assets/RPGPP_LT/
/Assets/Polytope Studio/
MemoryCaptures/

.vscode/
.idea/

.DS_Store
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.zip
*.zip.meta
