/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/UserSettings/
/Assets/RPGHero/
/Assets/ModularRPGHeroesPolyArt/

MemoryCaptures/

.vscode/
.idea/

.DS_Store
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.zip
*.zip.meta
